.pagination {
    display: flex;
    margin-bottom: 20px;
}

.pagination_item {
    width: 43px;
    height: 43px;
    background: #fff;
    color: #6AC0FF;
    border: 1px solid #6AC0FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.selected {
    background: #6AC0FF;
    color: #FFFFFF;
}

.pagination button {
    height: 43px;
    width: 82px;
    padding: 0 15px;
    background: #fff;
    color: #6AC0FF;
    border: 1px solid #6AC0FF;
    border-radius: 5px;
    margin-right: 5px;
}

.pagination button.next {
    margin-right: 0px;
}

.pagination button:hover {
    background: #6AC0FF;
    color: #FFFFFF;
}