.newpost{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}

.newpost textarea {
    width: 100%;
    padding: 0px;
    border: none;
    resize: none;
    min-height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
    overflow: auto;
}

.newpost button {
    width: 144px;
    height: 41px;
    background: #2FBDFF;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    transition: 0.3s;
}

.newpost button:hover {
    background: #0090D3;
}

.myPosts {/*
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);*/
}