.sideFriends {
    margin-top: 20px;
    border-radius: 4px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}

.sideFriends h3 {
    font-size: 16px;
}

.sideFriends .Friends {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;


}

.sideFriends .Friends img {
    width: 60px;
    border-radius: 100%;
}