.header {
    grid-area: h;
    background: linear-gradient(180deg, #2FBDFF 0%, #0090D3 100%);
    border-radius: 4px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 35px;
    border-radius: 50%;
}

.header a {
    color: #fff;
}
