.nav {
    grid-area: n;
}

.item {
    color: #0090D3;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    font-size: 16px;
}

a.item:active, a.item:focus {
    background: linear-gradient(180deg, #2FBDFF 0%, #0090D3 100%);
    border-radius: 4px;
    color: #fff;
}




