.loginFormWrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: auto;
}

.loginForm {
    width: 200px;
}

.loginButton {
    width: 144px;
    height: 41px;
    background: #2FBDFF;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    transition: 0.3s;
}

.loginButton:hover {
    background: #0090D3;
}

.checkBox {
    margin-bottom: 10px;
    margin-right: 10px;
}

.errorWrap {
    height: 40px;
    display: flex;
    align-items: center;
}

.errorWrap p {
    color: #ff4756;
}